requests
beautifulsoup4
selenium
absl-py==1.0.0
astunparse==1.6.0
flatbuffers==24.3.25
gast
google-pasta==0.1.1
grpcio
h5py==3.10.0
keras-nightly
libclang==13.0.0
ml-dtypes
opt-einsum
protobuf
tb-nightly
termcolor
wrapt
ml-dtypes
numpy